
<div class="container">
    <div class="page-header">
        <h1>Ember FastBoot Demo<br>
            <small>A simple app to display Chicago forecast for the next 3 days from</small>
            <a href="https://www.wunderground.com"><img width="250" height="30" src="https://icons.wxug.com/logos/PNG/wundergroundLogo_4c_horz.png"/></a>
        </h1>
    </div>

    <div class="row weather">
        <div class="row weather-active">
            <div class="col-lg-4 col-sm-4">
                <div class="text-center">
                    <h4>{{model.forecast.simpleforecast.forecastday.[0].date.weekday}}</h4>
                    <img src={{model.forecast.simpleforecast.forecastday.[0].icon_url}}>
                    <p>{{model.forecast.simpleforecast.forecastday.[0].conditions}}</p>
                    <p><small><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Chicago, IL</small></p>
                </div>
            </div>
            <div class="col-lg-8 col-sm-8 weather-active-left">
                <div class="row text-center">
                    <div class="col-lg-6 col-sm-6"><b>High:</b> {{model.forecast.simpleforecast.forecastday.[0].high.fahrenheit}}&#8457;</div>
                    <div class="col-lg-6 col-sm-6"><b>Low:</b> {{model.forecast.simpleforecast.forecastday.[0].low.fahrenheit}}&#8457;</div>
                </div>
                <p class="text-lead weather-active-left-text">{{model.forecast.txt_forecast.forecastday.[0].fcttext}}</p>
            </div>
        </div>
        <div class="row three-day-forecast">
            <div class="col-lg-4 col-sm-4 border-right text-center">
                <h5>{{model.forecast.simpleforecast.forecastday.[1].date.weekday}}</h5>
                <img src={{model.forecast.simpleforecast.forecastday.[1].icon_url}}/>
                <div class="row forecast-text">
                    <div class="col-lg-6 col-sm-6"><b>High:</b> {{model.forecast.simpleforecast.forecastday.[1].high.fahrenheit}}&#8457;</div>
                    <div class="col-lg-6 col-sm-6"><b>Low:</b> {{model.forecast.simpleforecast.forecastday.[1].low.fahrenheit}}&#8457;</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 border-right text-center">
                <h5>{{model.forecast.simpleforecast.forecastday.[2].date.weekday}}</h5>
                <img src={{model.forecast.simpleforecast.forecastday.[2].icon_url}}/>
                <div class="row forecast-text">
                    <div class="col-lg-6 col-sm-6"><b>High:</b> {{model.forecast.simpleforecast.forecastday.[2].high.fahrenheit}}&#8457;</div>
                    <div class="col-lg-6 col-sm-6"><b>Low:</b> {{model.forecast.simpleforecast.forecastday.[2].low.fahrenheit}}&#8457;</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">
                <h5>{{model.forecast.simpleforecast.forecastday.[3].date.weekday}}</h5>
                <img src={{model.forecast.simpleforecast.forecastday.[3].icon_url}}/>
                <div class="row forecast-text">
                    <div class="col-lg-6 col-sm-6"><b>High:</b> {{model.forecast.simpleforecast.forecastday.[3].high.fahrenheit}}&#8457;</div>
                    <div class="col-lg-6 col-sm-6"><b>Low:</b> {{model.forecast.simpleforecast.forecastday.[3].low.fahrenheit}}&#8457;</div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer>
</footer>
